# Table of Contents

1. [SQLite Data Manipulation Language (DML)](#sqlite-data-manipulation-language-dml)
   - [Update Commands](#update-commands)
     - [1. `INSERT` Command](#1-insert-command)
     - [2. `UPDATE` Command](#2-update-command)
     - [3. `DELETE` Command](#3-delete-command)
   - [Query Command](#query-command)
     - [`SELECT` Command](#select-command)
       - [Result](#result)
     - [`FROM` Clause](#from-clause)
       - [`WHERE` Clause](#where-clause)
         - [Logical Operators](#logical-operators)
         - [Range and Membership Conditions](#range-and-membership-conditions)
       - [Pattern Matching with `LIKE`](#pattern-matching-with-like)
     - [`SELECT CASE`](#select-case)
     - [`ORDER BY` Clause](#order-by-clause)
     - [`LIMIT` and `OFFSET` Clauses](#limit-and-offset-clauses)
     - [`GROUP BY` and `HAVING` Clauses](#group-by-and-having-clauses)
       - [Common Aggregation Functions](#common-aggregation-functions)
       - [`HAVING` Clause](#having-clause)
2. [Important Notes](#important-notes)

# SQLite Data Manipulation Language (DML)

Data Manipulation Language (DML) commands are used to modify data in a database. DML commands can be categorized into two main types:

1. **Update Commands**: Commands that modify data in the database.
2. **Query Command**: The `SELECT` command, used to retrieve data from the database.

## Update Commands

Update commands in SQL include `INSERT`, `UPDATE`, and `DELETE`. These commands allow you to add, modify, and remove data from tables.

### 1. `INSERT` Command

The `INSERT` command adds new rows to a table.

```sql
-- Insert a new row into the movies table
INSERT INTO movies VALUES('The Godfather', 1980, 'The best movie in the world', 10, 'F.F.C');
```
### 2. `UPDATE` Command

The `UPDATE` command modifies existing data in a table. Be cautious when using `UPDATE` without a `WHERE` clause, as it will update all rows in the table.

```sql
-- Update all rows in the movies table to have a rating of 9
UPDATE movies SET rating = 9; 
```
To update a single row or specific rows, use a WHERE clause:

```sql
-- Update the rating of a specific movie
UPDATE movies SET rating = 9 WHERE title = 'The Godfather';
```
3. `DELETE` Command
The `DELETE` command removes rows from a table. Like `UPDATE`, using `DELETE` without a WHERE clause will remove all rows.
```sql
-- Delete all rows in the movies table
DELETE FROM movies;
```
**Additional Examples**

  * **`Updating with Calculations:**
  ```sql
  -- Decrease the rating by 1 for a specific movie
  UPDATE movies SET rating = rating - 1 WHERE movie_id = 2;
  ```
  * **Handling NULL Values:**
  ```sql
  -- Update director to 'Unknown' where the director is NULL
  UPDATE movies SET director = 'Unknown' WHERE director IS NULL;
  ```

## Query Command
The `SELECT` command is the most frequently used command in SQL. It allows you to query and retrieve data from tables.

### `SELECT` Command
The `SELECT` command returns data from one or more columns:
```sql
-- Perform basic arithmetic and string operations
SELECT 1+1, 2+2, UPPER('hello');
```
seach argument becomes the name of the column and the result will be the content.

#### Result:

| 1+1 | 2+2 | UPPER('hello') |
| --- | --- | -------------- |
| 2   | 4   | HELLO          |

### `FROM` Clause
The `FROM` clause specifies the source table(s) for the query.
```sql
-- Select all columns from the movies table
SELECT * FROM movies;

-- Select specific columns from the movies table
SELECT title, rating FROM movies;
```
The `FROM` clause is executed first in the SQL command flow, fetching the data from the specified table(s).

**`WHERE` Clause**
The `WHERE` clause filters rows based on specified conditions:
```sql
SELECT * FROM movies WHERE director = 'Guy Ritchie';
```
#### Logical Operators
  * `AND`, `OR`, `NOT` can be used to combine multiple conditions:
  ```sql
  SELECT * FROM movies 
  WHERE status = 'Planned' AND budget <> 0 AND budget IS NOT NULL;
  ```
#### Range and Membership Conditions
* Range Condition:
```sql
SELECT * FROM movies WHERE rating BETWEEN 7 AND 10;
```
* Membership Condition:
```sql
SELECT * FROM movies WHERE genres IN ('Documentary', 'Comedy');
```
### Pattern Matching with `LIKE`
The `LIKE` operator is used for pattern matching in strings:
```sql
-- Find movies with titles starting with 'The'
SELECT * FROM movies WHERE title LIKE 'The%';

-- Find movies with genres containing 'Drama'
SELECT * FROM movies WHERE genres LIKE '%Drama%';
```
* Wildcard Characters:
  * `%` matches any sequence of characters.
  * `_` matches a single character.
### SELECT `CASE`
The `CASE` statement creates conditional logic in a `SELECT` query:
```sql
SELECT
  title,
  CASE
    WHEN rating >= 8 THEN '‚ù§Ô∏è'
    WHEN rating <= 6 THEN 'üí©'
    ELSE 'ü§ê'
  END AS good_or_bad
FROM movies;
```

### `ORDER BY` Clause
The `ORDER BY` clause sorts the result set. By default, it sorts in ascending order (`ASC`), but you can specify descending order (`DESC`):
```sql
SELECT * FROM movies ORDER BY release_date DESC, revenue DESC;
```

### `LIMIT` and `OFFSET` Clauses
These clauses limit the number of rows returned by a query:
```sql
-- Get the top 5 results
SELECT * FROM movies LIMIT 5;

-- Get the next 5 results after skipping the first 5
SELECT * FROM movies LIMIT 5 OFFSET 5;
```

### `GROUP BY` and `HAVING` Clauses
`GROUP BY` is used to group rows that have the same values in specified columns into aggregated data:
```sql
SELECT 
  director,
  SUM(revenue) AS total_revenue
FROM movies
WHERE director IS NOT NULL AND revenue IS NOT NULL
GROUP BY director
ORDER BY total_revenue DESC;
```
#### Common Aggregation Functions
  * `SUM()`, `AVG()`, `MAX()`, `MIN()`, `COUNT()`

#### `HAVING` Clause
The `HAVING` clause is similar to `WHERE` but is used to filter groups created by the `GROUP BY` clause:

```sql
SELECT
  release_date,
  ROUND(AVG(rating), 2) AS avg_rating
FROM movies
WHERE rating IS NOT NULL AND release_date IS NOT NULL
GROUP BY release_date
HAVING avg_rating > 6
ORDER BY avg_rating DESC;
```
## Important Notes
1. **Execution Order of SQL Commands:**
  * The order of execution in SQL is important: `FROM` ‚Üí `WHERE` ‚Üí `GROUP BY` ‚Üí `SELECT` ‚Üí `HAVING` ‚Üí `ORDER` `BY` ‚Üí `LIMIT`.
2. **Database-Specific Functions and Features:**
  * SQL syntax and functions can vary between different database systems (e.g., SQLite, MySQL, PostgreSQL). Always consult the specific documentation for your SQL database.